body,nav{
	background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
	background-size: 10000% 1000%;
	animation: gradient 10s ease infinite;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  appearance: none;
  margin: 0;
}
@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

a{
    font-size: larger;
}
.parentcont{
  display: flex;
  flex-direction:row;
}
.parentcontlogin{
    display: flex;
    flex-direction:row;
}
.childcont{
  display: flex;
  flex-direction: column;
  padding-left: 85px;
  padding-top: 65px;
}
.childcontlogin{
  display: flex;
  flex-direction: column;
  padding-left: 30px;
  padding-top: 75px;
}


.signupbox{
    height: 35vmax;
    width: 50vmax;
    border: 0 solid white;
    padding: 30px 30px 30px 60px;
    box-shadow: inset 0 -10em 10em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    background-color: white;
}
div.container.loginbox{
    height: 25vmax;
    width: 50vmax;
    border: 0 solid white;
    padding: 30px 30px 30px 60px;
    box-shadow: inset 0 -10em 10em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    background-color: white;
    margin-top: 3cm;
    align-items: center;
}
div.childcontlogin{
  margin-top: -14%;
}
.btn{
  margin-top: 10px;
  margin-left: 50px;
}
input{
  background: transparent;
  border: 1px solid transparent;
  border-bottom: 1px solid;
  padding-left: 10px;  
}
.input{
  width: 250px;
}
.link{
  text-decoration: underline;
}
.contact-info{
  margin-left: 8%;
  margin-right: 8%;
  margin-top: 5%;
  
}
.contact-info .col {
  background-color: white;
  margin-left:25px;
  border-radius: 5px;
  box-shadow: inset 0 -10em 10em white, 0 0 0 2px rgb(255, 255, 255),0.3em 0.3em 1em rgba(0, 0, 0, 0.3); 
  
}
.zmdi{
  color: #23a6d5;
}
.info-parent div label i {
    padding-top: 10px;
}
.info-parent{
  display: flex;
}
.details{
  padding: 10px 10px 10px 10px;
}
.row .col {
  margin-bottom:5% ;
}

.container-fluid{
  display: flex;
  flex-direction: column;
}
.message-info-box{

    background-color: white;
    box-shadow: inset 0 -10em 10em white, 0 0 0 2px rgb(255, 255, 255),0.3em 0.3em 1em rgba(0, 0, 0, 0.3); 
    height: 450px;
    width: 800px;   
    border-radius: 10px; 
    padding: 30px 60px 50px 60px;
    margin: auto;
  }
  .sender-details{
    margin-top: 3%;
    margin-bottom: 3%;
    display: flex;
    flex-direction: row;
  }
  .input-contact{
  
    margin-bottom: 5%;
    border: 1px solid rgb(205, 201, 201);
    width: 100%;
    height: 50px;
    border-radius:3px;
    
  }
  .sender-details div{
    margin-right:4% ;
    width:33.3%;
  }
  textarea{
    resize: none;
    margin-bottom: 3%;
  }
div.sender-details{
    white-space: nowrap;;
}
input.input-contact{
  text-align: center;
  padding-left: 0px;
}

.head{
  text-align: center;
  align-self: center;
  margin-top: 18%;
  color: royalblue; 
  font-family:'Anton', sans-serif;

}
.subhead{
  margin-top: 1.2%;
  text-align: center;
  font-size: 1.5cm;
}

.about-cont{
  margin-top: 5%;
  height: 50ch;
  width: 80ch;
  border-radius: 5px;
  background-color: white;
  box-shadow: inset 0 -10em 10em rgba(0, 0, 0, 0.1), 0 0 0 2px rgb(255, 255, 255),0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
  padding: 40px 30px 50px 60px;

}

.section2{
  padding-left:0px ;
}
.section1 img{
  background-color: black;
  width: 90%;
  border-radius: 4px;
  margin-bottom: 0.5cm;
}

.about div p{
  margin: 0px 0px 0px 0px;
}

.work-details{
  height: 50%;
  width: 100%;
}
.error404{
  font-size: 12cm;
  text-align: center;
  margin-top: 8%;
  opacity: 30%;
}
.errortext{
  text-align: center;
}
.t1{
  margin-top: -22%;
  font-size: 1.6cm;
}
.t2{
  font-size: 0.7cm;
}
.errorpgbtn{
  border-radius: 20px;
  position: absolute;
  top:70%;
  left:39%;
}
.nameText{
  text-align: center;
  margin-top: -1%;
  font-size: 2.5cm;
}
.joyText{
  text-align: center;
}
.nav-item{
  padding-right: 0.7cm;
}
